.venv
.idea
ls_01_basics_of_python/_doc_
Flask_Errors
ch1_basics_of_python/ls_01_basics/_doc_
ch1_basics_of_python/ls_02_simple_types/_doc_
ch1_basics_of_python/ls_03_collections/_doc_
ch1_basics_of_python/ls_04_functions/_doc_
ch1_basics_of_python/ls_05_Iterators_and_generators/_doc_
ch1_basics_of_python/ls_06_modules/_doc_
ch1_basics_of_python/ls_07_files/_doc_
ch1_basics_of_python/ls_08_serialize/_doc_
ch1_basics_of_python/ls_09_decorators/_doc_
ch1_basics_of_python/ls_10_oop/_doc_
ch1_basics_of_python/ls_11_oop/_doc_
ch1_basics_of_python/ls_12_oop/_doc_
ch1_basics_of_python/ls_12_oop/context1.db
ch1_basics_of_python/ls_12_oop/context2.db
ch1_basics_of_python/ls_13_exeptions/_doc_
ch1_basics_of_python/ls_14_testing/_doc_
ch1_basics_of_python/ls_15_dll/_doc_
ch2_flask_and_fast_api/__pycache__
ch2_flask_and_fast_api/lesson01/_doc_
ch2_flask_and_fast_api/lesson01/__pycache__
ch2_flask_and_fast_api/instance
ch2_flask_and_fast_api/lesson02/__pycache__
ch2_flask_and_fast_api/lesson02/_doc_
ch2_flask_and_fast_api/lesson03/__pycache__
ch2_flask_and_fast_api/lesson03/_doc_
ch2_flask_and_fast_api/lesson03/practice
ch2_flask_and_fast_api/lesson04/_doc_
ch2_flask_and_fast_api/lesson05/__pycache__
ch2_flask_and_fast_api/lesson05/_doc_
ch2_flask_and_fast_api/lesson06/_doc_
ch2_flask_and_fast_api/lesson06/__pycache__
ch3_django/Lesson06/_doc_
ch3_django/lesson01/_doc_
ch3_django/lesson02/_doc_
ch3_django/lesson03/_doc_
ch3_django/lesson05/_doc_
ch3_django/lesson04/_doc_
ch3_django/venv
